* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin: 20px;
}

/* Logo */
header #logo {
 padding-left: 300px;
 cursor: pointer;
 font-family: "Oswald", serif;
 font-weight:bold;
}
header #logo span{
  color: rgb(255, 208, 0);
}

/* Nav */
header nav {
  display: flex;
  align-items: center; 
  gap: 20px;
  font-family: "Oswald", serif;
  font-weight:bold;
}

header nav ul {
  display: flex;
  gap: 30px;
  list-style: none; 
  padding-right: 100px;
}

header nav ul a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* Button */
header nav .btn {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 20px;
  background: linear-gradient(rgb(250, 171, 0), rgb(255, 136, 0));
  transition: 0.5s ease-in;
  margin-right: 50px;
}


header nav .btn a {
  text-decoration: none;
  font-weight: bold;
  color: white;
 
}

/* Main */
main .home{
  background-color: rgba(160, 153, 153, 0.13);
  display: flex;
  flex-direction: column;
  height: 700px;

}

/* Main part-1 */
main .home .part1{
  position: absolute;
  top:200px;
  left: 200px;
  

  
}

/* Main h1 */
main .home .part1 h1{
  margin-bottom: 10px;
  font-size: 4rem;
  color: rgb(29, 27, 27);
  font-family: "Anton", serif;
  font-weight:lighter;

} 

/* Main p */
main .home .part1 p{
  margin-bottom: 40px;
  font-size: 1.5rem;
  color: rgb(29, 27, 27);
  font-weight:lighter;
  font-family: "Montserrat", serif;
 

}

/* Main img */
main .home img{
  height: 700px;
  width: 700px ;
  position: absolute;
  right: 200px;
}

/* Main .btn2*/
main .home .part1 .btn2{
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: "Montserrat", serif;
  background: linear-gradient(#faab00, #ff8800);
  padding: 20px 40px;
  border-radius: 40px;
  animation: glow 1s ease-in-out infinite alternate;

}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff8800, 0 0 50px #ff8800, 0 0 60px #ff8800, 0 0 70px #ff8800, 0 0 80px #ff8800;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #faab00, 0 0 40px #faab00, 0 0 50px #faab00, 0 0 60px #faab00, 0 0 70px #faab00, 0 0 80px #faab00;
  }
}

main .home .part1 .video{
  padding-left: 30px;
  font-weight:700;
  font-size: large;
  transition: 0.3s ease-in;
  cursor: pointer;
  font-family: "Montserrat", serif;
}

main .home .part1 .video:hover{
  color: #faab00;
}

main .home .part1 .video i{
  color: #ff8800;
  padding-right: 10px;
}

/* video */

.hidden {
  display: none;
}

#videoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
}

#videoContainer video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
